body {
  background: #efefef;
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
  color: #666;
  display: flex;
  flex-flow: row wrap;
}

div {
  background: white;
  box-shadow: 1px 1px 5px rgba(0,0,0,.125);
  margin: 1rem;
  padding: 1rem;
}

div.left,
div.right {
  flex: 1;
}

div.notification {
  flex: 1 1 100%;
}

div img {
  width: 100%;
  margin: 0 0 2rem;
}

div p {
  text-align: center;
}

.blink {
  animation: blink 3s ease;
}

@keyframes blink {
  0% {

  }
  50% {
    color: #60a6dd;
  }
  100% {

  }
}

